* {
    box-sizing: 0;
    margin: 0;
    padding: 0;

}

body {
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-image: url(img/fondoArena.jfif);
    background-size: hover;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*Navegacion*/
.navMain {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 50px;
    padding-top: 50px;
}

.navMenu{
    width: 50px;
}

.navMain ul{
    display: flex;
}

.navMain ul li{
    padding: 10px;
}

.navMain ul li a:hover{
    border-bottom: 2px solid white;
}


.filtros{
    margin: 5px;
    padding: 5px;

}

.listaFiltros{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ordenar{
    margin: 5px;
    padding: 5px;

}

.listaOrdenar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.infoLogo{
    width: 25px;
}

.filtroLogo{
    width: 25px;
}

/*Registrarse */
.registrar-box {
    width: 320px;
    height: 530px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.registrar-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
  
.registrar-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
  
.registrar-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
.registrar-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
.registrar-box input[type="text"], .registrar-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
  
.registrar-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
  
.registrar-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
  
.registrar-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
  
.registrar-box a:hover {
    color: #fff;
}  

/*Iniciar Sesión */
.login-box {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
  
.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
  
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
  
.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
.login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
  
.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
  
.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
  
.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
  
.login-box a:hover {
    color: #fff;
}

/* Dropdown Button */

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 50px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}